.header-wrapper {
    width: 100%;
}
.favorite-header {
    display: flex;
    justify-content: center;
    color: #f2fbff;
}

.locations {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.date-header {
    margin-top: 50px;
    color: #f2fbff;
}

.no-favorites {
    display: flex;
    justify-content: center;
    color: #ae5950;
    margin-top: 60px;
}

.go-back {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ae5950;
} 
